[Unit]
Description=My Beacon Scanner Service
After=network.target

[Service]
WorkingDirectory=/home/hmyu2/simple-ibeacon-scanner
ExecStart=/usr/bin/node /home/hmyu2/simple-ibeacon-scanner/server.js
Restart=always
EnvironmentFile=/home/hmyu2/simple-ibeacon-scanner/.env
RestartSec=10s

[Install]
WantedBy=multi-user.target
